# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [1]:
num_1 = 100

#### 2. asign any number of type float to the variable "num_2"

In [2]:
num_2 = 101.1

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [3]:
total = num_1 + num_2

#### 4. check the type of variable "total"

In [4]:
type(total)

float

#### 5. assign variable "height" with your height

In [10]:
height = 1.6  # in m

#### 6. asign variable "mass" with your weight

In [11]:
mass = 50  # in kg

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [12]:
bmi = mass / (height * height)

#### 8. print value from "bmi" variable

In [13]:
print(bmi)

19.531249999999996

# String

#### 1. Create variable "name" with your first name

In [14]:
name = "Shade"

#### 2. Create variable "surname" with your surname

In [15]:
surname = "Wong"

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [16]:
name_surname = f'{name} {surname}'

#### 4. print variable "name_surname"

In [17]:
print(name_surname)

Shade Wong

#### 5. print first letter from variable "name_surname"

In [18]:
print(name_surname[0])

S

#### 6. print your name (without empty space) from variable "name_surname"

In [19]:
print(name_surname.replace(' ', ''))

ShadeWong

#### 7. print your surname 10x (use variable surname)

In [20]:
print(surname * 10)

WongWongWongWongWongWongWongWongWongWong

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [23]:
message = f"Hello my name is {name_surname}"

#### 9. print "message" variable

In [24]:
print(message)

Hello my name is Shade Wong

#### String Functions
#### ====================

#### 10. Given a string of odd length greater than 7, return a new string made of the middle three characters of a given String

Given: `str1 = "JhonDipPeta"` <br>
Output: `Dip`

#### 11. Given two strings, s1 and s2, create a new string by appending s2 in the middle of s1

Given:
```
s1 = "Ault"
s2 = "Kelly"
```

Output: `AuKellylt`

## List

#### 1. create empty list with name "empty_list"

In [55]:
empty_list = []

#### 2. create list "heights" with five random values

In [56]:
heights = [1.61, 1.63, 1.74, 1.76, 1.80]

#### 3. print heights

In [57]:
print(heights)

[1.61, 1.63, 1.74, 1.76, 1.8]

#### 4. print type of variable "heights"

In [58]:
print(type(heights))

<class 'list'>

#### 5. print second value from "heights"

In [59]:
print(heights[1])

1.63

#### 6. assign last three values from "heights" to another list "heights_2"

In [60]:
heights_2 = heights[len(heights) -3: len(heights)]

#### 7. print "heights_2"

In [61]:
print(heights_2)

[1.74, 1.76, 1.8]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [62]:
list_all = heights + heights_2

#### 9. print "list_all"

In [63]:
print(list_all)

[1.61, 1.63, 1.74, 1.76, 1.8, 1.74, 1.76, 1.8]

#### 10. print the type of "list_all"

In [64]:
type(list_all)

list

## Tuple

#### 1. create empty tuple with name `empty_tuple`

In [65]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable `empty_tuple` and check the type of the error

In [66]:
empty_tuple[0] = "Shade Wong"

TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

Tuple is immutable, while list is a mutable data type.

## Dictionary

#### 1. create empty dictionary with name `empty_dict`

In [25]:
empty_dict = {}

#### 2. create `heights_dict` dictionary with your name as a key and height as a value

In [26]:
heights_dict = { "Shade Wong": 1.6 }

#### 3. asign another name and height to `heights_dict`

In [27]:
heights_dict["Daisy Braun"] = 1.7

#### 4. print `heights_dict` dictionary

In [28]:
print(heights_dict)

{'Shade Wong': 1.6, 'Daisy Braun': 1.7}

#### 5. print your height from the `heights_dict` dictionary

In [29]:
print(heights_dict["Shade Wong"])

1.6

#### 6. print all values from `heights_dict` dictionary

In [30]:
print(heights_dict.values())

dict_values([1.6, 1.7])

#### 7. print all keys from `heights_dict` dictionary

In [32]:
print(heights_dict.keys())

dict_keys(['Shade Wong', 'Daisy Braun'])