In [5]:
n = 300
print(n)
n

300

300

In [6]:
n = 1000
print(n)
n

1000

1000

In [9]:
a = b = c = 300
print(a, b, c)

300 300 300

In [10]:
var = 23.5
print(var)

23.5

In [11]:
var = "Now, I'm a string"
print(var)

Now, I'm a string

In [12]:
print(300)

300

In [13]:
type(300)

int

In [14]:
n = 300
print(n)
type(n) # n points to an integer object

300

int

In [18]:
m = n # m and n are pointing to the same integer object with value 300
m = 400 # Python creates a new integer object with value 400 and m becomes a reference to it

In [29]:
n = "foo"
# Now n is a reference to the new string object 
# The integer object with value 300 is now orphaned and there's no way to access it anymore
# Python will claim the allocated memory back once the object lifetime is over (reference number drops to 0) - aka garbage collection

In [24]:
n = 300
m = n
id(n)

2625300165136

In [25]:
id(m)

2625300165136

In [28]:
m = 400
id(m) # m points to a different object than n now

2625319450608

In [31]:
name = "Bob"
age = 54
has_W2 = True
print(name, age, has_W2)

Bob 54 True

In [32]:
1099_filed = False

SyntaxError: invalid decimal literal (4226384492.py, line 1)

In [33]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

In [34]:
for = 3

SyntaxError: invalid syntax (191355952.py, line 1)